*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/libraries
.DS_Store
/build
/output/
/captures
.externalNativeBuild
/laptop-host/out/
/laptop-host/maps/
release.properties
*.jks
*.keystore
